/GridWorld by QLearning 2to1.py
/GridWorld by QLearning plugin.py
/GridWorld by QLearning.py
/R_snakeVer1.R
/Support Vector Machine (SVM).py
/Tetris.py
/accuracy99.5%
/asPyAutoChrome.py
/convertImageStep1.py
/feature extraction.py
/feature extraction2.py
/kaggle
/load_digits.py
/random_agent.py
/read_image_and_save_to_csv.py
/segmentCodeA.py
/snake0.1
/snake0.2-ai-pytorch-main
/spyer red position.py
/tetrisVer2.py
/using the Tkinter library to create a window where you can drag and drop an image file.py
/util.py